/* ----warna---- */
.B-MA01 {
	background-color: var(--bs-indigo);
}
.T-MA01 {
	color: var(--bs-indigo);
}
:root {
	--MA01 : var(--bs-indigo);
}

#page {
	width: 21.0cm;
    height: 29.7cm;  
    position: relative;  
    margin: 20px auto;    
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
header {
	background-color: var(--MA01);
	padding: 40px;
	height: 200px;
	display: flex;
	align-items: flex-end;
}
#foto {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px solid #fff;
	overflow: hidden;
	margin-right: 60px;
	transform: translate(0, 100px);
}
#foto > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.1);
	object-position: top;
}
section	{
	padding: 40px 0;
	margin-bottom: 20px;
}
section	p {
	text-align: justify;
}
section [class*="col-"] {
	padding: 0 40px;
}
#kontak {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#kontak li {
	padding: 5px;
	display: flex;
}
footer {
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
	background-color: var(--MA01);
}
table tr {
	vertical-align: top;
}
